<h1>Bookings#new</h1>

<p>Musician: <%= @musician.first_name %> <%= @musician.last_name %> </p>
<p>Booker: <%= @booker.first_name %> <%= @booker.last_name %> </p>
<%= simple_form_for(@booking, as: :booking, method: :post, url: user_bookings_path(@musician)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :job_description %>
  </div>

  <div class="form-inputs">
    <%= f.input :location %>
  </div>

  <div class="form-inputs">
    <%= f.input :job_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
