 <div class="banner">
  <div class="container bookings">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="booking-info">
         <h1>Booking Info</h1>
         <%if @user.photo.blank? %>
         <%= image_tag "logo.png", class: "logo" %>
         <% else %>
         <center><%= cl_image_tag @user.photo, class: "avatar-bordered-small" %></center>
         <% end %>
         <div></div>
         <p><strong>Musician information</strong><br> <%= @musician.first_name %> <%= @musician.last_name %></p>
         <p><strong>Description</strong><br> <%= @booking.job_description %></p>
         <p><strong>Location</strong><br><%= @booking.location %></p>
         <p><strong>Date</strong><br> <%= @booking.job_date %></p>
         <p><strong>Status</strong><br><p><%= @booking.status.upcase %></p>
         <div class="flexbox">
          <%= link_to @booking, method: :delete, data: { confirm: "Are you sure?" }, class: ""  do %>
          <div class="button-delete flex">
            <i class="far fa-trash-alt button-icon"></i>
            <p id="button-text-delete">Delete</p>
          </div>
          <% end %>
          <%= link_to bookings_path, class: "" do %>
          <div class="button-back flex">
            <i class="fas fa-undo button-icon"></i>
            <p id="button-text-back">Back to Bookings</p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
