<div class="search-bar">
  <%= form_tag users_path, method: :get, :class => "form-group row" do %>
    <div class="col-sm-2">
      <%= select_tag "instrument", options_from_collection_for_select(@instruments, "id", "name"), class: "form-control instrument" %>
    </div>
    <div class="col-sm-4">
      <%= text_field_tag :location, params[:location], placeholder: 'Where', class: "input form-control", id: "musician_location" %>
    </div>
    <div class="col-sm-2">
      <%= submit_tag ("Search"), class: "new-search-button form-control" %>
    </div>
  <% end %>
</div>
<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="title">
          <% if @users.count == 1 && @location.present? %>
            <h3> <%= @users.count %> musician available in <%= @location %>: </h3>
          <% elsif @users.count == 1 && @location.blank? %>
            <h3> <%= @users.count %> musician available: </h3>
          <% elsif @users.count != 1 && @location.present? %>
            <h3> <%= @users.count %> musicians available in <%= @location %>: </h3>
          <% elsif @users.count != 1 && @location.blank? %>
            <h3> <%= @users.count %> musicians available: </h3>
          <% end %>
        </div>
      </div>
      <% @users.each do |user| %>
        <div class="col-xs-12 col-md-12">
          <div class="result-card">
            <div class="result-avatar-card">
              <% if user.photo.blank? %>
                <%= cl_image_tag("lbf9irqu7pjyp0zaow8h",
                  width: 180, height: 180, crop: :fill) %>
              <% else %>
                <%= cl_image_tag user.photo, class: "avatar-bordered-search" %>
              <% end %>
            </div>
            <div class="result-description-card">
              <h3> <%= user.first_name %> <%= user.last_name %> | <i class="fas fa-map-marker-alt"></i></i> <%= user.location %> </h3>
              <p> | <% user.instruments.each do |instrument| %>
                <%= instrument.name %> |
              <% end %> </p>
              <p> Book from: <em> £<%= user.rate %> </em></p>
            </div>
            <%= link_to 'Check profile', user, class: "result-button" %>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 col-md-12">
        <div class="new-search">
        </div>
      </div>
    </div>
  </div>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>
