<h1>Search results:</h1>

  <% @users.each do |user| %>
  <div class="row">
    <div class="result-index">
      <div class="result-user-index">
        <% if user.photo.blank? %>
        <i class="fas fa-user-tie"></i>
        <% else %>
        <%= cl_image_tag user.photo, height: 120, width: 120, crop: :fill %>
        <% end %>
      </div>
      <div class="result-description-index">
        <p> Name: <%= user.first_name %> <%= user.last_name %> </p>
        <p> Location: <%= user.location %> </p>
        <p> Instrument: <% user.instruments.each do |instrument| %> </p>
        <p> - <%= instrument.name %> </p>
        <% end %>
      </div>
      <div class="result-link-index">
        <%= link_to 'Check profile', user %>
        </div>
      </div>
    </div>
  <% end %>

<div
  id="map"
  style="width: 50%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
></div>

<%= link_to 'Start a new search', root_path %>
<br>
