
  <h1 class="h1"><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="avatar">
          <%if @user.photo.blank? %>
            <p> <i class="fas fa-user"></i></p>
          <% else %>
            <%= cl_image_tag @user.photo, height: 300, width: 400, crop: :fill %>
          <% end %>
      </div>
      <div class="profile_card">
          <p>Little something</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="bio_card">
      <p>Gather round kids, lemme tell you bout ma fine lil self. Shout out to Phay Phay.</p>
      </div>
    </div>
  </div>


  <% if @user == current_user %>
  <%= button_to "Edit Page", edit_user_registration_path, :method => "get", class: "button-user" %>
  <% end %><br><br>

  <% if user_signed_in? && @user != current_user %>
  <%= button_to "Book", new_user_booking_path(@user), :method => "get" %>
  <% end %>
</div>






