<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to image_tag("logo.png", class: "navbar-wagon-brand"), root_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Search", root_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to "Bookings", bookings_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to user_path(current_user) do %>
      <%= cl_image_tag current_user.photo, class: "profilepic" %>
    <% end %>
  </div>
</div>
